@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Journey Directions POC</h1>
</div>

<section class="search">
    <p>Searching from <strong>@Model.HomeLocation.Postcode</strong></p>
</section>

<section class="providers">

    @foreach (var provider in Model.Providers)
    {
        var journey = Model.Journeys[provider.Postcode];
        var distance = Math.Round(journey.Distance, 1);
        var distanceFromBusStop = Math.Round(journey.DistanceFromNearestBusStop, 1);
        var distanceFromTrainStop = Math.Round(journey.DistanceFromNearestTrainStop, 1);

        <article class="provider">
            <section class="provider-info">
                <header class="provider-info-header">
                    <h3>@provider.Name</h3>
                    <h4>POST CODE | Town</h4>
                    <h4>@provider.Postcode | @provider.Town</h4>
                </header>

                <div class="journey-info">
                    <p class="distance">@distance @(Math.Abs(distance - 1) < 0.1 ? "mile" : "miles") away</p>
                    <div class="transport">
                        <img src="~/images/transport.png" alt="" />
                        <p class="transit-distance">@($"{distanceFromBusStop:0.#}") @(Math.Abs(distanceFromBusStop -1) < 0.1 ? "mile" : "miles")</p>
                    </div>
                    <p class="transit-description">from the nearest bus stop</p>

                    <div class="transport">
                        <img src="~/images/subway.png" alt="" />
                        <p class="transit-distance">@($"{distanceFromTrainStop:0.#}") @(Math.Abs(distanceFromTrainStop - 1) < 0.1 ? "mile" : "miles")</p>
                    </div>
                    <p class="transit-description">from the nearest train station</p>
                </div>
            </section>

            <section class="journey-details">
                <details>
                    <summary>Journey details:</summary>
                    <ul>
                        @if (journey.Steps != null)
                        {
                            foreach (var journeyStep in journey.Steps)
                            {
                                <li>@journeyStep</li>
                            }
                        }
                    </ul>
                </details>
            </section>
        </article>
    }
    <footer>
        <img src="~/images/poweredbygoogle.png" alt="Powered by Google" class="google--logo" />
    </footer>
</section>
